.account-header {
    font-size: 14px;
    color: #586784;
    display: flex;
    flex-direction: row;

    font-family: metric-regular, sans-serif;
    gap: 0.5em;
    min-width: 300px;
    padding-left: 2em;
}

.user-welcome {

}

.account-header img {
    height: 42px;
}