.summary {
    display: flex;
    width: 100%;

    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}

.summary-item {
    flex: 1 1 auto;
    border: 1px solid rgba(212, 212, 212, 1);
    border-right: none;
    padding: 1em 0 2em 0;
    min-width: 250px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}

.summary-item h1 {
    font-size: 50px;
}

.summary-item div {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 0.5em;
    align-items: center;
}

.summary-item div img {
    height: 16px;
}

.signups h1 {
    color: #00ACAC;
}

.profit h1 {
    color: #1F7BB6;
}

.commission h1 {
    color: #FBCF71;
}

.pending-commission h1 {
    color: #00ACAC;
}


@media screen and (max-width: 800px) {
    .summary-item {
        flex: 2 2 auto;
        min-width: 100px;
        height: 5em;
    }

    .summary-item h1 {
        font-size: 18px;
    }

    .summary-item div {
        display: flex;
        flex-direction: column;
        font-size: 10px;

    }

    .summary-item div img {
        height: 10px;
    }


}