.charts {
    display: flex;
    flex-direction: row;
    width: 100vw;
    /*height: 300px !important;*/
    background: #2A2A2A;
}

@media screen  and (max-width: 800px) {
    .charts {
        flex-direction: column;
        /*width: 100vw;*/
    }

}