* {
    padding: 0;
    margin: 0;
    font-family: metric-semibold, sans-serif;
}

.partner-info-wrapper {

    display: flex;
    flex-direction: row;

}

.main-content-wrapper {
    margin-top: 5em;
}


@media screen and (max-width: 600px) {
    .partner-info-wrapper {
        flex-wrap: wrap;
    }

}